.feature-item {
  padding-bottom: 2.5rem;
  text-align: center;

  &__icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: .8rem;
    margin-top: .5em;
  }

  @mixin atSmall {

    & {
      padding-left: 94px;
      position: relative;
      text-align: justify;
    }

    &__icon {
      position: absolute;
      left: 0px;
      display: inline-block;
    }

    &__title {
      font-size: 1.9rem;
      margin-top: 1em;
    }
  }
}