.site-footer {
  background-color: $mainBlue;
  color: #FFF;
  padding: .5rem 0;
  text-align: center;
  font-weight: 200;
  
  &__text {
    display: block;
    margin-bottom: 1rem;

    @mixin atSmall {
      display: inline;
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
  }


}